*{
	box-sizing: border-box;
}

body{
	background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/prism.png");
	background-size: contain;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

footer{
	flex:1;
}


.flex{
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	max-width: 1000px;
	justify-content: center;
	align-items: center;
}

 .item {
	max-width: 300px;
	// height: 300px;
	margin: 8px;
	position: relative;

}

.img{
	max-width: 100%;
	filter: grayscale(100%);
	transition: all .5s ease;
	&:hover{
		filter: none;
	}
}



.frontImg{
	cursor: pointer;
}


.imgOverlay{
	position: absolute;
	text-align: center;	
	font-size: 1.5rem;
	color: white;
	  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
	}


.jumbotron{

	background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/prism.png");
	background-size: cover;
	background-position: right bottom;
}

.jumbotron,
.center{
	text-align: center;
}

h1{
	font-size: 3rem;
}


.bold{
	font-size: 1.2rem;
	font-weight: 500;
	color:  rgba(250, 250, 250, .6);;

}

.text{
		font-size: 1.2rem;
		color:  rgba(250, 250, 250, .5 );;
}



.btn{
	background-color: rgba(100, 100, 100, .5);
	color: rgba(250, 250, 250, .3 );
	position: relative;
 	font-size: 1.2rem;
 	font-weight: 500;
 	transition: all .5s ease;
 	text-transform: uppercase;
 	border: 2px solid rgba(200, 100, 100, .5); ;
}

.btn::after{
	position: absolute;
	z-index:-1 ;
	content: " ";
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: rgba(200, 100, 100, 1);
	transition: all .5s ease;
}

.btn:hover::after{
	width: 100%;
	color: white;
}